* {
  margin: 0;
  padding: 0;
}

/* Common-styles */
.container {
  max-width: 1200px;
  margin: auto;
}
.common-btn {
  background-color: #1d4ed8;
  color: white;
  padding: 16px 28px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;
  border: none;
  cursor: pointer;
}
.text-color {
  color: #575757;
}

.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0 25px 0;
}
.nav-menu-items {
  display: flex;
  gap: 24px;
}
nav li {
  list-style: none;
}
nav a {
  text-decoration: none;
  color: #575757;
}

/* banner */
.banner-section {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./assets/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px;
}
.banner-items {
  text-align: center;
  color: white;
}
.banner-items h2 {
  font-weight: bolder;
  font-size: 80px;
  padding-top: 100px;
}
.banner-items p {
  margin-top: 20px;
  margin-bottom: 150px;
}

/* Meet the speakers */
.meet-the-speakers {
  margin-top: 100px;
  text-align: center;
}
.meet-the-speakers h2 {
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 40px;
}
.meet-the-speakers-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.meet-the-speakers-card {
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
  border: 1px solid #ddd9d9;
  border-radius: 12px;
}
.meet-the-speakers-card img {
  max-width: 100%;
  border-radius: 12px 12px 0 0;
}
.meet-the-speakers-card h4 {
  color: #2563eb;
  margin-top: 20px;
  margin-bottom: 12px;
}
.meet-the-speakers-card h3 {
  font-weight: bold;
  font-size: 24px;
}
.meet-the-speakers-card p {
  color: #575757;
  margin-top: 12px;
  margin-bottom: 20px;
}

/* Secure your spot */
.secure-your-spot {
  margin-top: 100px;
  text-align: center;
}
.secure-your-spot hr {
  margin-top: 20px;
  margin-bottom: 20px;
}
.secure-your-spot-plans {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
}
.secure-your-spot h2 {
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 20px;
}
.all-plans {
  text-align: left;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
  border: 1px solid #ddd9d9;
  border-radius: 12px;
  padding: 44px;
}
.all-plans li {
  margin-bottom: 10px;
}

.standard-plan h3,
.pro-plan h3,
.team-plan h3 {
  font-weight: bold;
  font-size: 44px;
}
.standard-plan ul {
  list-style-position: inside;
}
.pro-plan {
  background-color: #0d1b2a;
  color: white;
}
.pro-plan h4 {
  color: #93c5fd;
}
.pro-plan ul {
  list-style-position: inside;
}
.team-plan ul {
  list-style-position: inside;
}
.pro-plan-btn {
  background-color: #1d4ed8;
  color: white;
  padding: 12px 65px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;
  border: none;
  margin-top: 20px;
  cursor: pointer;
}
.other-plan-btn {
  background-color: white;
  color: #1d4ed8;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
  padding: 12px 65px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;
  border: none;
  margin-top: 20px;
  cursor: pointer;
}

/* Why Attend Section */

.why-attend {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}

.why-attend h2 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}

.why-subtitle {
  color: #575757;
  max-width: 700px;
  margin: 0 auto 50px;
  line-height: 1.7;
}

.why-attend-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.why-card {
  padding: 35px;
  border: 1px solid #ddd9d9;
  border-radius: 12px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
}

.why-card:hover {
  transform: translateY(-8px);
}

.icon {
  width: 70px;
  height: 70px;
  background: #1d4ed8;
  color: white;
  border-radius: 50%;
  margin: 0 auto 25px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 28px;
}

.why-card h3 {
  font-size: 24px;
  margin-bottom: 15px;
}

.why-card p {
  color: #575757;
  line-height: 1.8;
}

/* Footer-section */

footer {
  background-color: #0d1b2a;
  color: #cbc7c7;
  padding: 50px;
}
.footer-items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.cpyright {
  text-align: center;
  margin-top: 30px;
}
.footer-icons {
  display: flex;
  align-items: center;
  gap: 30px;
}
.footer-icons a {
  color: #cbc7c7;
}
